.dark-mode body {
  background: #000 !important;
  color: #ebf4f1;
}

.dark-mode .navbar {
  background: #000 !important;

}

.dark-mode .product-card {
  background-color: #17181B;
}

.dark-mode 
.text-heading {
  color: #ebf4f1;
}
